footer {
   background-color: var(--background);
}

.footer-line {
   width: 100%;
}

footer .container {
   height: 10vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

footer p {
   margin: 0.5rem 0;
}

.footer-text {
   color: var(--primary-color);
   font-weight: 400;
}

footer a {
   text-decoration: underline;
   text-underline-offset: 3px;
   color: var(--secondary-color);
}

.footer-icon {
   vertical-align: bottom;
   font-size: 1.2rem;
}

.copyright {
   font-size: 0.85rem;
   font-weight: 400;
}
