header {
   position: sticky;
   top: -100px;
   background-color: var(--background); /* background-color: #1a202c; */
   transition-property: top;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 500ms;
}

header.show {
   top: 0px;
}

header.hide {
   top: -100px;
}

header .container {
   min-height: 10vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header h1 {
   color: var(--primary-color);
   font-size: 1.3rem;
   font-weight: 600;
}

header .links ul {
   display: flex;
   align-items: center;
   justify-content: center;
}

.links ul li {
   margin: 0 1rem;
}

.links .link {
   color: var(--primary-color);
   position: relative;
   font-size: 0.85rem;
}

.links .link::before,
.links .link::after {
   /* bottom border expanding */
   content: "";
   position: absolute;
   bottom: -4px;
   width: 0%;
   height: 2px;
   background-color: var(--secondary-color);
   transition: all 0.2s ease-in-out;
}

.links .link::before {
   right: 50%;
}

.links .link::after {
   left: 50%;
}

.links .link:hover::after,
.links .link:hover::before {
   width: 50%;
}

.theme-btn {
   display: flex;
   padding: 0.5rem;
   background-color: var(--background);
   border: 1px solid var(--card);
   border-radius: 5px;
   cursor: pointer;
}

.theme-icon {
   font-size: 20px;
   color: var(--primary-color);
}

.theme-btn:hover {
   background-color: var(--hover);
   transition: background-color 0.3s linear;
}
