.social-links {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.social-links .social-link {
   display: flex;
   margin: 1.5rem 0;
}

.social-links .social-link {
   margin: 1rem 0;
}

.social-links .social-icon {
   font-size: 25px;
   stroke-width: 1.6px;
   color: var(--primary-color);
   transition: color, transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.social-links .social-icon:hover {
   color: var(--secondary-color);
   transform: translateY(-3px);
}
