#contact-section {
   background-color: var(--background);
   min-height: 75vh;
   padding: 3rem 0;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.title {
   font-size: clamp(38px, 5vw, 48px);
   text-align: center;
}

.description {
   margin-top: 0.5rem;
   text-align: center;
   min-width: 70%;
}

.contact-form {
   width: 60%;
   min-width: 350px;
   margin-top: 3rem;
   display: flex;
   flex-direction: column;
   place-items: center;
}

.contact-form .form-section {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-bottom: 1.5rem;
}

.form-section label {
   margin-bottom: 0.4rem;
   font-size: 1.2rem;
   color: var(--primary-color);
}

.form-section textarea {
   height: 150px;
}

.form-section input,
.form-section textarea {
   font-family: "Inter", monospace;
   color: var(--primary-color);
   background-color: var(--card);
   width: 100%;
   padding: 0.8rem 1.2rem;
   border: 1px solid var(--border);
   border-radius: 0.2rem;
   transition: border 0.2s ease-in-out;
}

.form-section input:focus,
.form-section textarea:focus {
   outline: none !important;
   border: 1px solid var(--secondary-color);
}

.form-section #message-input {
   resize: vertical;
}

.contact-form .form-submit {
   padding: 0.8rem 1.3rem;
   color: var(--primary-color);
   border: 1px solid var(--card);
   border-radius: 0.2rem;
   transition: background-color 0.3s linear;
}

.contact-form .form-submit:hover {
   background-color: var(--hover);
   color: var(--primary-color);
}
