#footer {
   background-color: var(--background);
}

footer .container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.social-links {
   flex-direction: row;
   display: none;
   margin-bottom: 1.3rem;
}

.social-links .social-link {
   /* margin-left: 1rem; */
   margin: 0 1rem 0 1rem;
}

.developer,
.footer-text {
   margin: 0.5rem 0;
}

.developer {
   font-size: 1.1rem;
   font-weight: 400;
   color: var(--primary-color);
}

.footer-text {
   color: var(--primary-color);
   font-size: 1rem;
   font-weight: 400;
}

.footer-icon {
   vertical-align: bottom;
   font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
   .social-links {
      display: flex;
   }
}
