#header {
   position: fixed;
   transform: translateY(-100px);
   z-index: 1000;
   width: 100%;
   background-color: var(--background);
   transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
   -webkit-transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#header.show {
   transform: translateY(0px);
}

#header.hide {
   transform: translateY(-100px);
}

#header.scrolling {
   box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
}

#header.scrolling .container {
   padding: 1.3rem 0;
}

#header.top {
   transform: translateY(0px);
   box-shadow: none;
}

#header.top .container {
   padding: 1.6rem 0;
}

#header .container {
   min-height: 5vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0;
   transition: padding 0.3s ease-in-out;
   -webkit-transition: padding 0.3s ease-in-out;
}

#header h1 {
   color: var(--primary-color);
   font-size: 1.3rem;
   font-weight: 600;
   user-select: none;
}

#header nav ul,
#header .navbar {
   display: flex;
   margin-left: auto;
}

#header .navbar ul {
   display: flex;
   align-items: center;
   justify-content: center;
}

.navbar .nav-item {
   margin-left: 2rem;
}

.navbar .nav-link {
   font-size: 0.85rem;
   color: var(--primary-color);
   position: relative;
}

/* bottom border expanding */
.navbar .nav-link::before,
.navbar .nav-link::after {
   content: "";
   position: absolute;
   bottom: -4px;
   width: 0%;
   height: 2px;
   background-color: var(--secondary-color);
   transition: all 0.2s ease-in-out;
}

.navbar .nav-link::before {
   right: 50%;
}

.navbar .nav-link::after {
   left: 50%;
}

.navbar .nav-link:hover::after,
.navbar .nav-link:hover::before {
   width: 50%;
}

.checkbox {
   opacity: 0;
   position: absolute;
}

.checkbox-label {
   background-color: var(--card);
   width: 52px;
   height: 28px;
   border-radius: 50px;
   border: 1px solid var(--border);
   position: relative;
   padding: 5px;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.checkbox-label .theme-icon {
   color: var(--primary-color);
   font-size: 1rem;
}

.checkbox-label .ball {
   background-color: var(--primary-color);
   width: 22px;
   height: 22px;
   position: absolute;
   left: 2px;
   top: 2px;
   border-radius: 50%;
   transition: transform 0.2s linear;
   -webkit-transition: transform 0.2s linear;
   -moz-transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
   transform: translateX(24px);
}

.burger-btn,
.header-btn {
   display: flex;
   cursor: pointer;
}

.icon {
   font-size: 16px;
   color: var(--primary-color);
}

.burger-btn {
   display: none;
}

.burger-btn .icon {
   font-size: 1.9rem;
}

@media screen and (max-width: 524px) {
   #header.show-menu {
      transform: translateY(0px) !important;
      box-shadow: none !important;
      transition: unset;
      -webkit-transition: unset;
   }

   #header .container {
      position: relative;
      padding: 1.6rem 0;
   }

   #header h1 {
      position: relative;
      z-index: 1111;
   }

   #header.scrolling .container {
      padding: 1.6rem 0;
   }

   #header .burger-btn {
      position: relative;
      z-index: 11111;
   }

   #header .navbar ul {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1000;
      flex-direction: column;
      justify-content: center !important;
      background-color: var(--background);
      height: 100vh;
      width: 100%;
      transform: translateX(100%);
      margin: 0 !important;
      box-shadow: 0 10px 10px -13px rgba(2, 12, 27, 0.7);
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
   }

   #header.show-menu .navbar ul {
      transform: translateX(0px);
   }

   #header .navbar ul li {
      margin: 1.5rem 0;
   }

   #header .navbar a {
      font-size: 1.5rem !important;
   }

   .burger-btn {
      position: relative;
      display: flex;
      margin-left: 1rem;
   }
}
