#header {
   /* position: sticky;
   top: -100px; */
   position: fixed;
   transform: translateY(-100px);
   z-index: 1000;
   width: 100%;
   background-color: var(--background);
   transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1), padding 0.2s ease-in-out;
   -webkit-transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1), padding 0.2s ease-in-out;
   /* transform: translateY(-100px); */
   /* transition-property: top, box-shadow;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 500ms; */
}

#header.show {
   transform: translateY(0px);
   /* top: 0px; */
}

#header.hide {
   /* top: -100px; */
   transform: translateY(-100px);
}

#header.scroll {
   /* box-shadow: 0 10px 10px -15px rgba(2, 12, 27, 0.7); */
   box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
   padding: 1rem 0;
}

#header.top {
   /* transform: translateY(0); */
   box-shadow: none;
   padding: 1.5rem 0;
}

#header .container {
   min-height: 5vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0;
}

#header h1 {
   color: var(--primary-color);
   font-size: 1.3rem;
   font-weight: 600;
   user-select: none;
}

#header nav ul,
#header .navbar {
   display: flex;
   margin-left: auto;
}

#header .navbar ul {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 1rem;
}

.navbar .nav-item {
   margin: 0 1rem;
}

.navbar .nav-link {
   font-size: 0.85rem;
   color: var(--primary-color);
   position: relative;
}

.navbar .nav-link::before,
.navbar .nav-link::after {
   /* bottom border expanding */
   content: "";
   position: absolute;
   bottom: -4px;
   width: 0%;
   height: 2px;
   background-color: var(--secondary-color);
   transition: all 0.2s ease-in-out;
}

.navbar .nav-link::before {
   right: 50%;
}

.navbar .nav-link::after {
   left: 50%;
}

.navbar .nav-link:hover::after,
.navbar .nav-link:hover::before {
   width: 50%;
}

.burger-btn,
.header-btn {
   display: flex;
   padding: 0.5rem;
   background-color: var(--background);
   border: 1px solid var(--border);
   border-radius: 5px;
   cursor: pointer;
}

.header-btn:hover {
   background-color: var(--hover);
   transition: background-color 0.3s linear;
}

.theme-icon {
   font-size: 20px;
   color: var(--primary-color);
}

.burger-btn {
   display: none;
}

@media screen and (max-width: 524px) {
   .header-btns {
      display: flex;
   }

   #header .burger-btn {
      display: flex;
   }

   #header .header-btn {
      margin: 0 1rem !important;
   }

   #header h1,
   #header button {
      z-index: 1000;
   }

   #header.show-menu h1,
   #header .navbar ul {
      display: none !important;
   }

   #header .navbar {
      margin-left: 0 !important;
   }

   .navbar ul li {
      margin: 1.5rem !important;
   }

   .navbar .nav-link {
      font-size: 1.2rem;
   }

   #header.show-menu {
      top: 0px !important;
   }

   #header.show-menu .container {
      flex-direction: column;
      justify-content: center;
      height: 100vh;
   }

   #header.show-menu .navbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   #header.show-menu .navbar ul {
      display: flex !important;
      flex-direction: column;
   }

   #header.show-menu .header-btns {
      margin-top: 2rem;
   }

   #header.show-menu .header-btn {
      margin: 0 1rem !important;
   }
}
