@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

#hero-section {
   position: relative;
   background-color: var(--background);
   z-index: 100;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

#hero-section .container {
   min-height: 91vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.line {
   position: absolute;
   width: 110vw;
   transform: rotate(-3deg);
   height: 250px;
   background-color: var(--primary-color);
   opacity: 0.1;
   z-index: -10;
}

.hero-image {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1rem 0;
}

.hero-image .img {
   max-width: 170px;
   width: auto;
   height: auto;
   border-radius: 50%;
   border: 3px solid var(--secondary-color);
}

.hero-pretitle {
   color: var(--primary-color);
   font-size: 1.2rem;
   font-size: clamp(10px, 5vw, 19px);

   font-weight: 500;
   margin-bottom: 0.5rem;
}

.hero-pretitle .wave {
   animation-name: wave-animation;
   animation-duration: 2.5s;
   animation-iteration-count: infinite;
   transform-origin: 70% 70%;
   display: inline-block;
}

.hero-title {
   font-family: "";
   font-size: clamp(36px, 5vw, 56px);
   font-weight: 600 !important;
   color: var(--primary-color);
   font-family: "Inter", monospace;
}

.hero-subtitle {
   /* color: #7f97a1; */
   /* color: var(--third-color); */
   color: var(--third-color);
   font-weight: 400;
   margin: 0.5rem 0 1rem 0;
}

.hero-subtitle span {
   /* color: #4e5d63; */
   color: var(--primary-color);
   user-select: none;
   /* color: #424d4d; */
}

#hero-section .social-links {
   display: none;
   flex-direction: row;
   justify-content: flex-start;
   margin-top: 1.5rem;
}

#hero-section .social-links .social-link {
   margin: 1rem;
}

@media screen and (max-width: 930px) {
   #hero-section .container {
      flex-direction: column;
      justify-content: center;
      padding: 3rem 0;
   }

   .hero-image {
      /* margin-top: 2rem; */
      margin-bottom: 3rem;
   }

   .hero-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

@media screen and (max-width: 767px) {
   #hero-section .social-links {
      display: flex;
   }
}

/* Animations */

@keyframes wave-animation {
   0% {
      transform: rotate(0deg);
   }
   10% {
      transform: rotate(14deg);
   }
   20% {
      transform: rotate(-8deg);
   }
   30% {
      transform: rotate(14deg);
   }
   40% {
      transform: rotate(-4deg);
   }
   50% {
      transform: rotate(10deg);
   }
   60% {
      transform: rotate(0deg);
   } /* Reset for the last half to pause */
   100% {
      transform: rotate(0deg);
   }
}
