/* Fonts Imports */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

@font-face {
   font-family: "SF Mono Regular";
   font-style: normal;
   font-weight: normal;
   src: local("SF Mono Regular"), url("../public/fonts/SFMonoRegular.woff") format("woff");
}

@font-face {
   font-family: "SF Mono Medium";
   font-style: normal;
   font-weight: normal;
   src: local("SF Mono Medium"), url("../public/fonts/SFMonoMedium.woff") format("woff");
}

@font-face {
   font-family: "SF Mono Semibold";
   font-style: normal;
   font-weight: normal;
   src: local("SF Mono Semibold"), url("../public/fonts/SFMonoSemibold.woff") format("woff");
}

@font-face {
   font-family: "SF Mono Bold";
   font-style: normal;
   font-weight: normal;
   src: local("SF Mono Bold"), url("../public/fonts/SFMonoBold.woff") format("woff");
}

/* CSS Variables */

:root {
   --background: #fff;
   --primary-color: #2d3748;
   --secondary-color: #805ad5;
   --third-color: #1ea1f1;
   --hover: #edf2f7;
   /* --card: #edf2f7; */
   --card: #f0f1f1;
   --border: #99a0a562;
   --project-overlay: rgba(45, 55, 72, 0.8);
}

[data-theme="dark"] {
   --background: #1a202c;
   --primary-color: #fff;
   --secondary-color: #805ad5;
   --third-color: #1ea1f1;
   --card: #2d3748;
   /* --hover: #2d3748; */
   --hover: rgba(255, 255, 255, 0.08);
   --border: rgba(249, 251, 252, 0.171);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: "Inter", monospace;
   -webkit-font-smoothing: antialiased;
   line-height: 1.35;
   background-color: var(--background);
}

button,
input[type="submit"] {
   background: 0;
   outline: 0;
   border: 0;
   cursor: pointer;
   font-family: inherit;
}

h1,
h2,
h3,
h4,
p {
   color: var(--primary-color);
}

h1 {
   font-weight: bold !important;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

#about-section {
   background-color: var(--background);
}

#project-section {
   background-color: var(--background);
}

#contact-section {
   background-color: var(--background);
   min-height: 75vh;
}

.url-link {
   text-decoration: underline;
   text-underline-offset: 3px;
   color: var(--secondary-color);
}

.social-links {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.social-links .social-link {
   display: flex;
   margin: 1.5rem 0;
}

.social-links .social-link {
   margin: 1rem 0;
}

.social-links .social-icon {
   font-size: 25px;
   stroke-width: 1.6px;
   color: var(--primary-color);
   transition: color, transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.social-links .social-icon:hover {
   color: var(--secondary-color);
   transform: translateY(-3px);
}

/* .no-scroll #__next .app:first-child {
   filter: blur(5px);
} */

/* Shared Components */

@media screen and (max-width: 524px) {
   .no-scroll {
      position: fixed;
      overflow-y: scroll !important;
      overflow-x: hidden !important;
   }

   .no-scroll::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 500;

      animation: blur-in 0.5s forwards;
   }

   .no-scroll section,
   .no-scroll footer,
   .no-scroll header {
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      user-select: none;
   }
}

@media screen and (max-width: 767px) {
   .container {
      width: 90% !important;
   }
}

.container {
   width: 75%;
   max-width: 1100px;
   padding: 1rem;
   margin: 0 auto;
   transition: width 0.2s linear;
}

/* Animations */

@keyframes blur-in {
   from {
      backdrop-filter: blur(0px);
   }
   to {
      backdrop-filter: blur(5px) brightness(0.9);
      -webkit-backdrop-filter: blur(5px) brightness(0.9);
      -moz-backdrop-filter: blur(5px) brightness(0.9) s;
   }
}
